# Global options
{
	email {$LETSENCRYPT_EMAIL}
}

# n8n
{$N8N_HOSTNAME} {
	reverse_proxy localhost:5678
}

# Supabase
{$SUPABASE_HOSTNAME} {
	reverse_proxy localhost:3000
}

# Evolution API
{$EVOLUTION_API_HOSTNAME} {
	reverse_proxy localhost:8080
}